body
{
  background-image:url("pup.jpg");
}

*
{
  font-family:'Comic Sans MS';
}

#fire
{
  position:fixed;
  left:1px;
  width:300px;
  height:300px;
}

#l1
{
  color:#ff0000;
}

#l2
{
  color:cyan;
}

a:visited
{
  color:blue;
}

#imgTag
{
  width:400px;
  height:500px;
}

.container
{
  position:fixed;
  top:12em;
  width:100%;

}
.imageCont
{
  display:inline-block;
  position:relative;
  left:39em;
  width:50%;
}

.buttons
{
  position:relative;
  bottom:22em;
}

#h1
{
  position:relative;
  left:21.5em;
}
#home
{

}

#para
{
  position:relative;
  top:10em;
}

#para span
{
  background-color:white;
}

#para:hover
{
  background-color:purple;
}

#reqImg
{
  width:900px;
}

#label
{
  background-color:magenta;
}

#titlething
{
  background-color:blue;
  width:150px;
}

.formstuff
{
  background-color:magenta;
  width:500px;
}

#dumbPara
{
  border-style:solid;
}
